---
layout: default
title: About Me
---
:markdown
  # About Me

  I am a system administrator and software developer, with almost a decade of experience with linux and a focus in the last 2 years on rails deployment and hosting. I value learning, friendship, continuous improvement, craftsmanship and beauty.
  
  If that sounds interesting [check out my resume](/resume).